<!DOCTYPE html>
<html>
<head>
	<title>{{ cityName }} Information </title>
</head>
<body>

<div class="right_panel">
	<div> 
		{{ cityName }}
	</div>

	<div>
		{% if weatherAlert == False %}
		<p>There are no weather alerts.</p>
		{% else %}
		<p>{{ weatherAlert["description"] }}</p>
		<p>{{ weatherAlert["message"] }}</p>
		{% endif %}
	</div>

	<div>
		<p>Current Observation</p>
		{{ currentTemp }}

		<p>Ten Day Forecast</p>

		{% for x in dailyForecast %}
		 <p>{{ x["date"]["weekday"] }}, {{ x["date"]["monthname"] }}  {{ x["date"]["day"] }}</p>
		 <p>The high is: {{ x["high"]["fahrenheit"] }}<br>
		 The low is: {{ x["low"]["fahrenheit"] }}</p>
		 {% endfor %}
	</div>

	<div>
		<p>Air Quality</p>
		<p>{{ airQuality["Air Quality"] }}</p>
		<p>{{ airQuality["Main Pollutant"] }}</p>
		<p>{{ airQuality["Health Damage from Pollutant"] }}</p>
	</div>

	</div>
</div>

</body>
</html>



